In [ ]:
#Python for data Science (Python: SETS, DICTIONARIES, CONDITIONS AND BRANCHING)

In [ ]:
######Sets, similar to tuples and Lists, but do not have order and they have only unique elements

In [5]:
# Create a set (\ is just to start a new line)

set1 = {"pop", "rock", "soul", \
        "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [1]:
#converting a list to set (type casting): notice the deletion of the duplicates
L=['A','B','C','A','B','C']
lset=set(L)
lset

{'A', 'B', 'C'}

In [6]:
# Add element to set

lset.add("G")
lset

{'A', 'B', 'C', 'G'}

In [7]:
# Remove the element from set

lset.remove("C")
lset

{'A', 'B', 'G'}

In [8]:
# Verify if the element is in the set

"A" in lset

True

In [12]:
# Sample Sets (print the two sets)

s1={"A", 1, "B", 3}
s2={"AB", 1, "B", 33, 40}
s1, s2

({1, 3, 'A', 'B'}, {1, 33, 40, 'AB', 'B'})

In [14]:
# Find the intersections
iters= s1 & s2
iters

{1, 'B'}

In [16]:
#Or use the intersection method
s1.intersection(s2)

{1, 'B'}

In [15]:
# Find the difference in set1 but not set2 (elements that are in set1 but not in set2)

s1.difference(s2)

{3, 'A'}

In [17]:
# Find the union of two sets

s1.union(s2)

{1, 3, 33, 40, 'A', 'AB', 'B'}

In [18]:
# Check if superset (subset)

set(s1).issuperset(s2)
set(s1).issubset(s2)

False

In [20]:
# Check if superset (subset)

set({1, "B"}).issuperset(s2) 
set({1, "B"}).issubset(s2)

True

In [21]:
#Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)
# Write your code below and press Shift+Enter to execute
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 6
the sum of B is: 3

In [ ]:
#######################    Dictionaries

In [25]:
dict={"year":365, "month":30, "day":24, "hour":60}
dict

{'year': 365, 'month': 30, 'day': 24, 'hour': 60}

In [26]:
#find a value of a key
dict["year"]

365

In [30]:
#add new entry to the dictionary
dict["min"]= 60
dict

{'year': 365, 'month': 30, 'day': 24, 'hour': 60, 'min': 60}

In [31]:
#delete entry
del(dict["min"])
dict

{'year': 365, 'month': 30, 'day': 24, 'hour': 60}

In [32]:
# in command
"day" in dict

True

In [33]:
#show all keys in a dictionary
dict.keys()

dict_keys(['year', 'month', 'day', 'hour'])

In [34]:
#show all values in a dictionary
dict.values()

dict_values([365, 30, 24, 60])

In [35]:
#another example of a dictionary
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
##############################  #CONDITIONS AND BRANCHING

In [15]:
"Sam"!="Jack"

True

In [40]:
"Sam"=="Jack"

False

In [35]:
i=8
i<15

True

In [41]:
'B' > 'A'
#For example, the ASCII code for ! is 21, while the ASCII code for + is 43. Therefore + is larger than ! as 43 is greater than 21.
#Similarly, the value for A is 101, and the value for B is 102 therefore:

True

In [42]:
'BA' > 'AB',
#When there are multiple letters, the first letter takes precedence in ordering. Note: Upper Case Letters have different ASCII code than Lower Case Letters, 
#which means the comparison between the letters in python is case-sensitive.

True

In [39]:
r=2
r!=3

True

In [21]:
##The brackets around age>18 are not necessary.
age=19
if (age>18):
    print("You can enter")
print("Move on")

You can enter
Move on

In [22]:
age=17
if (age>18):
    print("You can enter")
print("Move on")

Move on

In [26]:
#else statement

age=17
if (age>18):
    print("You can enter")
else:
        print("No entry")
print("Move on")

No entry
Move on

In [28]:
#elif statement (note the two equa)

age=18
if (age>18):
    print("You can enter")
    
elif(age==18):
    print("You can wait to see")
    
else:
        print("No entry")
print("Move on")

You can wait to see
Move on