In [ ]:
#Python for data Science (Basics)

In [1]:
#print function
print("Hello")

Hello

In [2]:
print("Hello\nWorld!")

Hello
World!

In [6]:
# print('Hello World!')

In [5]:
#single quotes also work
print('Hello, Python!')

Hello, Python!

In [50]:
print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [14]:
type(11)

int

In [12]:
type(11.2)

float

In [8]:
type("AB")

str

In [15]:
#converting integer to float
float(2)

2.0

In [16]:
#casting/conversting float to int
int(2.4)

2

In [17]:
int("2")

2

In [7]:
int("AB")

ValueError: invalid literal for int() with base 10: 'AB'

In [19]:
str(1)

'1'

In [22]:
#Boolean values (True, False), must be capital T and F
type(False)

bool

In [23]:
int(True)

1

In [24]:
bool(0)

False

In [25]:
#Expression: mathematical operations: + - * /
2+6

8

In [26]:
25/4

6.25

In [27]:
25//4

6

In [37]:
#Variables
var=1

In [38]:
var

1

In [39]:
var=10

In [40]:
var

10

In [41]:
x=3+6+4+2+8

In [42]:
x

23

In [43]:
y=x/7

In [44]:
y

3.2857142857142856

In [45]:
#assign new value for x
x=x*3

In [46]:
x

69

In [47]:
type(x)

int

In [48]:
# Check the Python Version

import sys
print(sys.version)

3.7.3 | packaged by conda-forge | (default, Jul  1 2019, 21:52:21)
[GCC 7.3.0]

In [53]:
#multiple functions can be printed, but if there is interruption, the following ones will not be printed
print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [54]:
type(6/2)

float

In [42]:
#Strings (note: there are no parentheses)
x="Jack Smith"

In [43]:
x

'Jack Smith'

In [45]:
len(x)

10

In [6]:
#to select every second letter
x[::2]

'Jc mt'

In [11]:
#Select a specific number of letter sequentially: (the first value in the range does not count)
x[0:4]

'Jack'

In [49]:
#to select the first index
x[0]

'J'

In [50]:
#select the last index
x[-1]

'h'

In [13]:
x[6:8]

'mi'

In [14]:
#returning every second value from 1 up to 4
x[0:5:2]

'Jc '

In [15]:
#to show the length of the string.
len("jack Smtith")

11

In [6]:
#combine strings
x1 = x + " is a student"
x1

'Jack Smith is a student'

In [13]:
3* "I am a learner"

'I am a learnerI am a learnerI am a learner'

In [14]:
#use \n to have two lines for printing
print('Jack Smith \nis a student')

Jack Smith
is a student

In [15]:
#use \t to have a tab space
print('Jack Smith \tis a student')

Jack Smith 	is a student

In [18]:
#use \\ to have a back slash or placean r in front of the string
print('Jack Smith \\ is a student')
print(r'Jack Smith \ is a student')

Jack Smith \ is a student
Jack Smith \ is a student

In [ ]:
#String methods

In [23]:
#convert to upper case
A="i am here"
B=A.upper()
B

'I AM HERE'

In [ ]:
#Exchage "here" with "there"

In [25]:
C=A.replace("here", "there")
C

'i am there'

In [38]:
#to find the start position of word or sequence (substring) of letters (it will show the first index of the sequence): if the substring is not in the string, the output will be -1
A.find("here")

5

In [39]:
#how to get the even numbers
Numbers="0123456"
Numbers[::2]

'0246'

In [41]:
"0123456".find("1")

1

In [52]:
a="2"
b="3"
c=a+b
c

'23'

In [53]:
D = "ABCDEFG"
print(D[:3]) 
# or 
print(D[0:3])

ABC
ABC

In [54]:
E = 'clocrkr1e1c1t'
print(E[::2])

correct

In [55]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find("snow")

95

In [56]:
name = 'Lizz'
print(name[0:2])

Li

In [57]:
var = '01234567'
print(var[::2])

0246

In [67]:
#Tuples are an ordered sequence: the content can be int, str, bool, or/and float
myTup=(1, "cat", True, 2.54)
myTup

(1, 'cat', True, 2.54)

In [68]:
type(myTup)

tuple

In [72]:
#we can access any element by the index
myTup[1]

'cat'

In [74]:
myt=myTup+ ("car", 11)
myt

(1, 'cat', True, 2.54, 'car', 11)

In [75]:
len(myt)

6

In [78]:
#tuples are immutable i.e. we can not change it: e.g trying to assign "cat" to value 4, will get us an error.
myt[2]=4

TypeError: 'tuple' object does not support item assignment

In [79]:
#another example (rt2 does not change after changing the rt1)
rt1=(5,4,9,2,8,7,3,5,6)
rt2=rt1

In [80]:
rt1=(11,15,12,30)

In [81]:
rt1

(11, 15, 12, 30)

In [82]:
rt2

(5, 4, 9, 2, 8, 7, 3, 5, 6)

In [86]:
rt2sorted=sorted(rt2)
rt2sorted

[2, 3, 4, 5, 5, 6, 7, 8, 9]

In [91]:
#tuples nesting
tp=(2,5,("A","B","C"), (7,4), ("Y","U","W","R", (3,9)))
tp

(2, 5, ('A', 'B', 'C'), (7, 4), ('Y', 'U', 'W', 'R', (3, 9)))

In [92]:
tp[2]

('A', 'B', 'C')

In [93]:
tp[2] [1]

'B'

In [95]:
#how to get the 3
tp[4] [4] [0]

3

In [ ]:
##Lists are also an ordered sequence

In [97]:
lis= [8, "jack", 5.4]
lis

[8, 'jack', 5.4]

In [ ]:
#we can nest other lists or tuples into a List

In [128]:
L= [8, ("jack", "sara"), ["A", 9], 5.4]
L

[8, ('jack', 'sara'), ['A', 9], 5.4]

In [102]:
#access A
L[2] [0]

'A'

In [124]:
#we can combine lists, adding two elements 2, Erik
L1=L+[2, "Erik"]
L1

[8, ('jack', 'sara'), ['A', 9], 5.4, 2, 'Erik']

In [ ]:
#OR use extend to add two elements

In [125]:
L.extend([2,"Erik"])
L

[8, ('jack', 'sara'), ['A', 9], 5.4, 2, 'Erik']

In [ ]:
#OR use append (notice that values will be as one index (element) in square brackets)

In [129]:
L.append([2,"Erik"])
L

[8, ('jack', 'sara'), ['A', 9], 5.4, [2, 'Erik']]

In [ ]:
#Lists are mutable, therefore we can change them (unlike tuples)

In [131]:
# change an element in a List
a=["cat", "car", 5]
a[2]="house"
a

['cat', 'car', 'house']

In [141]:
#if you change an element in a List1, and List2=List1, then List2 will also change accordingly
a=["cat", "car", 5]
b=a
a[0]="dog"
b

['dog', 'car', 5]

In [142]:
#if you change an element in a List1, and List2=List1, then you want that List2 is not affected, then you use clone
a=["cat", "car", 5]
b=a[:]
a[0]="dog"
b

['cat', 'car', 5]

In [133]:
#delete an element in a list
a=["cat", "car", 5]
del(a[0])
a

['car', 5]

In [ ]:
#convert a string to a list using "split"

In [137]:
"The car is new".split()

['The', 'car', 'is', 'new']

In [139]:
#split using the .
"A.B.C.D".split(".")

['A', 'B', 'C', 'D']

In [140]:
#split using the , or other separators
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [146]:
#to get help information about any command
B=["a","b","c"]
B[1:]

['b', 'c']

In [148]:
# find the index of c
B.index("c")

2